@model List<Videogame>
@{
    ViewBag.Title = "Videogames";
}

<div class="containter">
    <header class="jumbotron">
        <h3>Videogames</h3>
    </header>

    <!--Table of Videogames-->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Year Released</th>
                    <th>Rating *1-5</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var videogame in Model)
                {
                    <tr>
                        <td>@videogame.Name</td>
                        <td>@videogame.YearReleased</td>
                        <td>@videogame.Rating</td>
                        <td>
                         <a asp-controller="Videogame" asp-action="Edit" class="btn btn-secondary"
                               asp-route-id="@videogame.VideogameID">Edit</a>
                            <a asp-controller="Videogame" asp-action="Delete" class="btn btn-secondary"
                               asp-route-id="@videogame.VideogameID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a asp-controller="Videogame" class="btn btn-primary" asp-action="Add">Add New Game</a>
</div>