@model List<Videogame>
@{
    ViewBag.Title = "Videogames";
}

<h2>Videogames</h2>

<a asp-controller="Videogame" asp-action="Add">Add New Game</a>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var videogame in Model)
        {
            <tr>
                <td>@videogame.Name</td>
                <td>@videogame.YearReleased</td>
                <td>@videogame.Rating</td>
                <td>
                    <a asp-controller="Videogame" asp-action="Edit"
                       asp-route-id="@videogame.VideogameID">Edit</a>
                    <a asp-controller="Videogame" asp-action="Delete"
                       asp-route-id="@videogame.VideogameID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>